.plusgallery {
  zoom: 1;
  color: #222;
  position: relative;
  z-index: 1;
  text-align: left;
  .clearfix {
    &:before {
      content: "";
      display: block;
      height: 0;
      overflow: hidden;
    }
    &:after {
      content: "";
      display: block;
      height: 0;
      overflow: hidden;
      clear: both;
    }
    zoom: 1;
  }
  ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  a {
    display: block;
    -webkit-transition: all .3s ease-out .1s;
    -moz-transition: all .3s ease-out .1s;
    -ms-transition: all .3s ease-out .1s;
    -o-transition: all .3s ease-out .1s;
    transition: all .3s ease-out .1s;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    border: 0;
    background-color: #fff;
    display: block;
    color: #222;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.3);
    &:hover {
      background-color: #38beea;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    .tz-col-xs-1 {
      width: 100%;
      height: 100%;
    }
    .tz-col-xs-2 {
      width: 50%;
      height: 50%;
    }
    .tz-col-xs-3 {
      width: 33.333333333333333%;
      height: 33.333333333333333%;
    }
    .tz-col-xs-4 {
      width: 25%;
      height: 25%;
    }
    .tz-col-xs-5 {
      width: 20%;
      height: 20%;
    }
    .tz-col-xs-6 {
      width: 16.66666666666666667%;
      height: 16.66666666666666667%;
    }
    .tz-col-xs-7 {
      width: 14.285714285714286%;
      height: 14.285714285714286%;
    }
    .tz-col-xs-8 {
      width: 12.5%;
      height: 12.5%;
    }
    .tz-col-xs-9 {
      width: 11.1111111111111111111%;
      height: 11.1111111111111111111%;
    }
    .tz-col-xs-10 {
      width: 10%;
      height: 10%;
    }
    .tz-col-xs-11 {
      width: 9.0909090909090909091%;
      height: 9.0909090909090909091%;
    }
    .tz-col-xs-12 {
      width: 8.333333333333333333%;
      height: 8.333333333333333333%;
    }
  }
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    .tz-col-sm-1 {
      width: 100%;
      height: 100%;
    }
    .tz-col-sm-2 {
      width: 50%;
      height: 50%;
    }
    .tz-col-sm-3 {
      width: 33.333333333333333%;
      height: 33.333333333333333%;
    }
    .tz-col-sm-4 {
      width: 25%;
      height: 25%;
    }
    .tz-col-sm-5 {
      width: 20%;
      height: 20%;
    }
    .tz-col-sm-6 {
      width: 16.66666666666666667%;
      height: 16.66666666666666667%;
    }
    .tz-col-sm-7 {
      width: 14.285714285714286%;
      height: 14.285714285714286%;
    }
    .tz-col-sm-8 {
      width: 12.5%;
      height: 12.5%;
    }
    .tz-col-sm-9 {
      width: 11.1111111111111111111%;
      height: 11.1111111111111111111%;
    }
    .tz-col-sm-10 {
      width: 10%;
      height: 10%;
    }
    .tz-col-sm-11 {
      width: 9.0909090909090909091%;
      height: 9.0909090909090909091%;
    }
    .tz-col-sm-12 {
      width: 8.333333333333333333%;
      height: 8.333333333333333333%;
    }
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    .tz-col-md-1 {
      width: 100%;
      height: 100%;
    }
    .tz-col-md-2 {
      width: 50%;
      height: 50%;
    }
    .tz-col-md-3 {
      width: 33.333333333333333%;
      height: 33.333333333333333%;
    }
    .tz-col-md-4 {
      width: 25%;
      height: 25%;
    }
    .tz-col-md-5 {
      width: 20%;
      height: 20%;
    }
    .tz-col-md-6 {
      width: 16.66666666666666667%;
      height: 16.66666666666666667%;
    }
    .tz-col-md-7 {
      width: 14.285714285714286%;
      height: 14.285714285714286%;
    }
    .tz-col-md-8 {
      width: 12.5%;
      height: 12.5%;
    }
    .tz-col-md-9 {
      width: 11.1111111111111111111%;
      height: 11.1111111111111111111%;
    }
    .tz-col-md-10 {
      width: 10%;
      height: 10%;
    }
    .tz-col-md-11 {
      width: 9.0909090909090909091%;
      height: 9.0909090909090909091%;
    }
    .tz-col-md-12 {
      width: 8.333333333333333333%;
      height: 8.333333333333333333%;
    }
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .tz-col-lg-1 {
      width: 100%;
      height: 100%;
    }
    .tz-col-lg-2 {
      width: 50%;
      height: 50%;
    }
    .tz-col-lg-3 {
      width: 33.333333333333333%;
      height: 33.333333333333333%;
    }
    .tz-col-lg-4 {
      width: 25%;
      height: 25%;
    }
    .tz-col-lg-5 {
      width: 20%;
      height: 20%;
    }
    .tz-col-lg-6 {
      width: 16.66666666666666667%;
      height: 16.66666666666666667%;
    }
    .tz-col-lg-7 {
      width: 14.285714285714286%;
      height: 14.285714285714286%;
    }
    .tz-col-lg-8 {
      width: 12.5%;
      height: 12.5%;
    }
    .tz-col-lg-9 {
      width: 11.1111111111111111111%;
      height: 11.1111111111111111111%;
    }
    .tz-col-lg-10 {
      width: 10%;
      height: 10%;
    }
    .tz-col-lg-11 {
      width: 9.0909090909090909091%;
      height: 9.0909090909090909091%;
    }
    .tz-col-lg-12 {
      width: 8.333333333333333333%;
      height: 8.333333333333333333%;
    }
  }
  .pgplus {
    line-height: 1em;
    padding: .3em;
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    top: -1.5em;
    width: 1.5em;
    right: -1.5em;
    z-index: 7;
    text-align: center;
    font-weight: 100;
    -webkit-transition: all .3s ease-out .1s;
    -moz-transition: all .3s ease-out .1s;
    -ms-transition: all .3s ease-out .1s;
    -o-transition: all .3s ease-out .1s;
    transition: all .3s ease-out .1s;
  }
  .pgalbumlink {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    &:hover {
      .pgplus {
        top: 0;
        right: 0;
      }
    }
  }
  .pgcredit {
    a {
      display: inline-block;
      color: #222;
      letter-spacing: 1px;
      background-color: transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-size: 10px;
      text-transform: uppercase;
      span {
        color: #666;
        -webkit-transition: color .3s ease-out;
        -moz-transition: color .3s ease-out;
        -ms-transition: color .3s ease-out;
        -o-transition: color .3s ease-out;
        transition: color .3s ease-out;
      }
      &:hover {
        span {
          color: #fff;
        }
      }
    }
  }
  >.pgloading {
    background: none;
  }
  &.loaded {
    >.pgloading {
      display: none !important;
    }
  }
  &.nav_hide {
    .plus-pagination {
      display: none !important;
    }
  }
  .pgalbumthumb {
    float: left;
    padding: 5px;
    margin: 0;
    span {
      position: absolute;
      display: block;
    }
  }
  .pgthumb {
    float: left;
    margin: 0;
    padding: 5px;
    display: block;
    position: relative;
    -webkit-transition: all .5s ease .5s;
    -moz-transition: all .5s ease .5s;
    -ms-transition: all .5s ease .5s;
    -o-transition: all .5s ease .5s;
    transition: all .5s ease .5s;
    a {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: none;
      position: relative;

      &:before {
        transition: 0.3s ease-out;
        transition-property: opacity, transform, filter;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
      }
      .pg-icon {
        transition: 0.3s ease-out;
        transition-property: opacity, transform, filter;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        line-height: 1;
        font-size: 20px;
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
        .pg-icon {
          opacity: 1;
        }
      }
    }
    img {
      background: #fff;
      width: 100%;
      border: 0;
    }
  }
  .pgalbumtitle {
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.65) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
    font-size: 1.12em;
    z-index: 7;
    padding: 2em 6% 6% 6%;
    width: 100%;
  }
  .crumbtitle {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
}
#pgzoomview {
  a {
    display: block;
    -webkit-transition: all .3s ease-out .1s;
    -moz-transition: all .3s ease-out .1s;
    -ms-transition: all .3s ease-out .1s;
    -o-transition: all .3s ease-out .1s;
    transition: all .3s ease-out .1s;
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    border: 0;
    &:hover {
      background-color: #38beea;
    }
  }
  position: absolute;
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)";
  background: rgba(0, 0, 0, .8);
  text-align: center;
  z-index: 999999;
  top: 0;
  left: 0;
}
.pg-icon {
  line-height: 1;
  font-size: 1px;
}
.pgloading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .8) no-repeat 50% 50%;
  &>* {
    animation: pg-spinner-rotate 1.4s linear infinite;
    &>* {
      stroke-dasharray: 88px;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: pg-spinner-dash 1.4s ease-in-out infinite;
      stroke-width: 1;
      stroke-linecap: round;
    }
  }
}
#pgalbums {
  clear: both;
}
.pgalbumimg {
  display: block;
  width: 100%;
  border: 0;
  position: relative;
  z-index: 1;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#pgthumbview {
  clear: both;
  display: none;
  #pgthumbs {
    .pgthumb {
      img {
        background-size: cover;
      }
    }
  }
}
#pgthumbcrumbs {
  margin-bottom: 0.5em;
  li {
    padding: 9px .7em 0 .7em;
    float: left;
    line-height: 1em;
    height: 30px;
  }
  li.pgthumbhome {
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-size: 1.5em;
    line-height: .6em;
    padding-left: .4em;
    padding-right: .1em;
    &:hover {
      padding-left: .2em;
    }
  }
}
#pgzoomview.fixed {
  position: fixed;
}
#pgzoomscroll {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  z-index: 9999991;
}
#pgzoom {
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  -webkit-transform: translateZ(0px);
}
.pgzoomslide {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  float: left;
  overflow: hidden;
  text-align: center;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  margin: 0 !important;
  padding: 0 !important;
  .pgloading {
    background: none;
  }
}
.pgzoomspacer {
  display: inline-block;
  width: 1px;
  height: 100%;
  vertical-align: middle;
}
.pgzoomcenter {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}
.pgzoomimg {
  max-width: 80%;
  max-height: 75%;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.9);
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  -ms-transition: opacity .4s ease-out;
  -o-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
  margin-bottom: 2em;
  display: inline;
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pgzoomimg.active {
  opacity: 1;
}
.pgzoomcaption {
  margin: 1.5em 0;
  color: #fff;
  font-size: .9em;
  opacity: 1;
  position: absolute;
  left: 0;
  padding-left: 20%;
  padding-right: 20%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  bottom: 0;
  text-align: center;
  -webkit-transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -ms-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}
.pgzoomarrow {
  position: fixed;
  width: 52px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  overflow: hidden;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  &:hover {
    -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3);
  }
}
#pgprevious {
  left: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-position: 0 50%;
}
#pgnext {
  right: 0;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-position: 100% 50%;
}
#pgzoomclose {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  z-index: 9999999;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  &:hover {
    -webkit-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.3);
  }
}
.pgcredit {
  text-align: center;
  clear: both;
  padding-top: 10px;
  padding-bottom: 10px;
}
.plus-pagination {
  display: none;
  padding: 50px;
  text-align: center;
  span {
    color: #222;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
}
.plus-pagination-end {
  display: none;
  padding: 50px;
  text-align: center;
  display: none;
  span {
    color: #222;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
}
.plus-pagination.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .pgalbumthumb {
    width: 33.333% !important;
  }
  .pgthumb {
    width: 33.333% !important;
  }
}
@media only screen and (max-width: 480px) {
  .pgalbumthumb {
    width: 50% !important;
  }
  .pgthumb {
    width: 50% !important;
  }
  .pgzoomarrow {
    width: 36px;
    height: 60px;
  }
  #pgprevious {
    background-position: -6px 50%;
  }
  #pgnext {
    background-position: -66px 50%;
  }
  #pgzoomclose {
    width: 36px;
    height: 36px;
  }
}
@media only screen and (max-width: 320px) {
  .pgalbumthumb {
    width: 100% !important;
  }
  .pgthumb {
    width: 100% !important;
  }
}
@keyframes pg-spinner-rotate{0%{transform:rotate(0deg)}100%{transform:rotate(270deg)}}
@keyframes pg-spinner-dash{0%{stroke-dashoffset:88px}50%{stroke-dashoffset:22px;transform:rotate(135deg)}100%{stroke-dashoffset:88px;transform:rotate(450deg)}}